version: '3.9'
services:
  postgres:
    image: postgres:15
    container_name: postgres_spring
    restart: always
    environment:
      POSTGRES_DB: ama
      POSTGRES_USER: ama
      POSTGRES_PASSWORD: adm123
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
